.Rproj.user
.Rhistory
.RData
.Ruserdata
./data/genomes_refseq/ncbi_dataset/data/GCF_032062105.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_002022765.2/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_947568905.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_963853765.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_963676685.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_021730395.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_025612915.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_036588685.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_026914265.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_020536995.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_026571515.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_021869535.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_032062105.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_002022765.2/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_947568905.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_963853765.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_963676685.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_021730395.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_025612915.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_036588685.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_026914265.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_020536995.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_026571515.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_021869535.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_032062105.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_002022765.2/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_947568905.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_963853765.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_963676685.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_021730395.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_025612915.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_036588685.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_026914265.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_020536995.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_026571515.1/cds_from_genomic.fna
./data/genomes_refseq/ncbi_dataset/data/GCF_021869535.1/cds_from_genomic.fna
